# Xcode
build/
DerivedData/
*.xcresult
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
._*

# Windows
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
